<ion-modal-view>

    <ion-header-bar class="bar bar-header theme-nav-bar">
        <button class="button button-clear" ng-click="modalSite.hide()"><i class="ion-arrow-left-c nav-button-back"></i></button>
        <h1 class="title theme-text-color title-text">厂区位置</h1>
        <a class="button nav-button-form" ng-click="confirmSite()">确定</a>
    </ion-header-bar>




    <ion-content class="background-color">
        <div class="row list-style no-lf-padding">
            <div class="col-33">
                <div class="list">
                    <div class="item site-list-item-shadow" ng-class="{selected:$index==selectedRow1}" ng-repeat="x in factorySite" ng-bind="x" ng-model="x"  ng-click="showSite($index,$event);"> </div>
                </div>
            </div>
            <div class="col-66">
                <div class="list">
                    <div class="item item-icon-right" ng-class="{selected:$index==selectedRow2}" ng-repeat="y in siteInfor"ng-click="selectedList2($index,$event)" >
                        {{y}}    <i ng-class="{'icon ion-checkmark-round theme-text-color':$index==selectedRow2}"></i>
                    </div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>