<ion-modal-view>
    <ion-header-bar class="bar bar-header theme-nav-bar">
        <button class="button button-clear" ng-click="modalPeople.hide()"><i class="ion-arrow-left-c nav-button-back"></i></button>
        <h1 class="title title-text">参会人数</h1>
    </ion-header-bar>

    <ion-content class="padding">
        <div class="list">
            <div class="div-search">
             <button class="button-search" ng-click=" ">Create</button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>