<ion-view >
  <ion-nav-title>
      <p class="title-text">会议室预定</p>
  </ion-nav-title>
  <ion-content class="background-color">
        <div class="list list-style">
            <div class="item list-item-style" ui-sref="location">
                <div class="lf list-item-img list-item-img-first">
                    <img src="img/icon_object.png"  alt=""/>
                </div>
                <div class="list-item-border-bottom  list-item-content list-item-content-first rt">
                    <span class="list-item-lf-text">厂区位置</span>
                    <span class="list-item-rt-text" ng-bind="iMeeting.siteName1 +'-'+ iMeeting.siteName2"> <i class="icon ion-ios-arrow-right"></i></span>
                </div>
            </div>
            <div class="item list-item-style">
                <div class="lf list-item-img">
                    <img src="img/icon_person.png"  alt=""/>
                </div>
                <div class="list-item-border-bottom  list-item-content rt" ng-click="modal.show()" >
                    <span class="list-item-lf-text">参会人数</span>
                    <span class="list-item-rt-text">6人<i class="icon ion-ios-arrow-right"></i></span>
                </div>
            </div>
            <div class="item list-item-style">
                <div class="lf list-item-img">
                    <img src="img/icon_date.png"  alt=""/>
                </div>
                <div class="list-item-border-bottom  list-item-content rt">
                    <span class="list-item-lf-text">会议日期</span>
                    <span class="list-item-rt-text">2016-05-12<i class="icon ion-ios-arrow-right"></i></span>
                </div>
            </div>
            <div class="item list-item-style">
                <div class="lf list-item-img">
                    <img src="img/icon_begin.png"  alt=""/>
                </div>
                <div class="list-item-border-bottom  list-item-content rt">
                    <span class="list-item-lf-text">开始时间</span>
                    <span class="list-item-rt-text">13:30<i class="icon ion-ios-arrow-right"></i></span>
                </div>
            </div>
            <div class="item list-item-style">
                <div class="lf list-item-img">
                    <img src="img/icon_end.png"  alt=""/>
                </div>
                <div class="list-item-border-bottom  list-item-content rt">
                    <span class="list-item-lf-text">结束时间</span>
                    <span class="list-item-rt-text">16:00<i class="icon ion-ios-arrow-right"></i></span>
                </div>
            </div>
            <div class="item list-item-style">
                <div class="lf list-item-img">
                    <img src="img/icon_instrument.png"  alt=""/>
                </div>
                <div class="list-item-border-bottom  list-item-content rt">
                    <span class="list-item-lf-text">设备要求</span>
                    <span class="list-item-rt-text">
                         <i class="icon ion-ios-arrow-right inline-block"></i>
                      </span>
                    <span class="rt">
                        <img src="img/icon_instr_baiban.png" alt=""/>
                        <img src="img/icon_instr_huatong.png" alt=""/>
                         <img src="img/icon_instr_touyingyi.png" alt=""/>
                    </span>
                </div>
            </div>
            <div class="item list-item-style list-item-last">
                <div class="lf list-item-img">
                    <img src="img/icon_repeat.png"  alt=""/>
                </div>
                <div class="list-item-content rt">
                    <span class="list-item-lf-text">重复预定</span>
                    <span class="list-item-rt-text">永不<i class="icon ion-ios-arrow-right"></i></span>
                </div>
            </div>

        <div class="div-search">
            <a  class="button-search" >立即搜索</a>
        </div>
  </ion-content>
</ion-view>

