<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="会议室" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref="tabs.iMeeting">
        <ion-nav-view name="tabs-iMeeting"></ion-nav-view>
    </ion-tab>
    <!-- Chats Tab -->
    <ion-tab title="我的预定" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ur-sref="tabs.reserve">
        <ion-nav-view name="tabs-reserve"></ion-nav-view>
    </ion-tab>
    <!-- Account Tab -->
    <ion-tab title="设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tabs.settings">
        <ion-nav-view name="tabs-settings"></ion-nav-view>
    </ion-tab>
</ion-tabs>

